 body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

.w3-top:first-child{
    letter-spacing:4px;
}

.color-wheel{
    max-width: 1600px;
    min-width: 360px;
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
}

.color-wheel #widget{
    width: 40rem;
}

header.map {
    max-width:1600px;
    min-width:360px;
    margin-top: 3.5rem;
}

header.map #world-map{
    height: 600px;
    width: 100%;
}

@media (max-width:360px){
    
    header.map #world-map{
        height: 400px !important;
        width: 360px !important;
    }
}